@import '../../../utils/colors';

.input-container {
  display: flex;
}

.input-input {
  width: 100%;
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  outline: none;
}

::-webkit-input-placeholder {color: @font-color}