@import "../../utils/colors";

.disk {
  margin-top: 64px;

  &__title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  &__button_first-row {
    display: flex;
    justify-content: space-between;
  }

  &__buttons_right {
    display: flex;
  }

  &__button_list {
    height: 33px;
    width: 33px;
    margin-right: 32px;
    background-color: @second-background-color;
    border: none;
    border-radius: 4px;


    &:hover {
      cursor: pointer;
    }
  }

  &__button_plates {
    height: 33px;
    width: 33px;
    background-color: @second-background-color;
    border: none;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button_back {
    width: 150px;
    margin-right: 32px;
    margin-bottom: 16px;
    padding: 6px 10px;
    font-size: 18px;
    background-color: @second-background-color;
    border: none;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }

  &__button_create {
    width: 150px;
    margin-right: 32px;
    padding: 6px 10px;
    font-size: 18px;
    background-color: @second-background-color;
    border: none;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: @second-background-color;
    }
  }

  &__input-find {
    width: 250px;
    padding: 4px 16px;
    color: @font-color;
    font-size: 18px;
    background-color: @second-background-color;
    border: none;
    border-radius: 4px;
  }

  &__upload_label {
    padding: 4px 10px;
    font-size: 18px;
    border: 1px dashed @font-color;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }

  &__select {
    padding: 4px 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: @second-background-color;
  }

  &__upload_input {
    display: none;
  }
}

.drag_area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed @font-color;
  font-size: 32px;
}

::-webkit-input-placeholder {
  color: @font-color05
}

